<%= render partial: "shared/admin_topper", locals: { merchants: true  } %>

<% @merchants.each do |merchant| %>
<p><%= link_to merchant.name, admin_merchant_path(merchant) %></p>
<% if merchant.status == "enabled" %>
  <%= button_to "Disable #{merchant.name}", admin_merchant_path(merchant), method: :patch, params: { merchant: { status: "disabled"}} %>
<% else %>
  <%= button_to "Enable #{merchant.name}", admin_merchant_path(merchant), method: :patch, params: { merchant: { status: "enabled"}} %>
  <% end %>
<% end %>