/* ADMIN VIEW CSS */
 * {
  margin-top: 0px;
}

body {
  padding: 0px 25px;
  font-family: sans-serif;
}

header {
  background-color: #D8DAD3;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 260px;
  padding: 20px;
  margin-top: 0px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 0px 0px 20px 20px;
}

#merchant-admin-name {
  display: inline;
  float: left;
  padding: 16px;
  color: #4A4A48;
}

nav {
  padding: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  display: inline;
  float: right;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 10px 10px 0px 10px;
}

nav li {
  margin-right: 15px;
  padding-right: 10px;
}

nav a {
  text-decoration: none;
  color: #4A4A48;
}

nav a:hover {
  text-decoration: underline;
}

.page-topper {
  margin-bottom: 120px;
}

.current-menu-item a {
  background: #D8DAD3;
  padding: 10px;
  border-radius: 10px 100px / 120px;
  color: black;
}

.full-length-header {
  clear: both;
  border-top: solid;
  text-align: center;
  padding: 5px;
  background-color: #D8DAD3;
}

.admin-invoices {
  margin-left: 80px;
}

#invoice-customer-info, #admin-invoice-items {
  margin-left: 40px;
}

#invoice-customer-info h3, #invoice-customer-info p, #admin-invoice-items h3 {
  padding: 10px 0px;
}

#customer-name, #admin-invoice-table {
  margin-left: 40px;
}

table {
  border-collapse: collapse;
  width: 80%;
}

th {
  color: white;
  background-color: grey;
}

th, td {
  text-align: center;
  padding: 8px;
  border: solid black;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

/* END ADMIN VIEW CSS */


/* MERCHANT SECTION */

.main_title {
  text-align: center;
  color: orange;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.merchant_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-menu {
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-menu a {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-menu a:hover {
  margin-right: 20px;
  text-decoration: none;
  color: orange;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.seperator {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.page-title {
    background-color: #e1e1e1;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

ul {
  list-style-type: none;
}

.show-table {
  width: 100%;
  border-collapse: collapse;
}

.show-table th,
.show-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  vertical-align: center;
}

.show-table th {
  background-color: #9E9E9E; /* Header Row Background Color */
  color: white; /* Text color for header cells */
}

.show-table tr:nth-child(even) td {
  background-color: #E6E6E6; /* Lighter grey for even rows */
}

.show-table tr:nth-child(odd) td {
  background-color: #ffffffdb; /* Slightly darker than white for odd rows */
}

.invoice-select {
  height: 30px;
  font-family: sans-serif;
}
